{{> top }}
  <main>
    <h1>{{options.headline}}</h1>

    {{!-- <section class="profiles">
      <h2>{{options.profilesHeadline}}</h2>
      {{#profiles}}
      <article class="profile">
        <img src="https://image.webservices.ft.com/v1/images/raw/{{imageURLEncoded}}?source=ft-interactive&width=100&height=100&quality=high" srcset="https://image.webservices.ft.com/v1/images/raw/{{imageURLEncoded}}?source=ft-interactive&width=100&height=100&quality=high 1x, https://image.webservices.ft.com/v1/images/raw/{{imageURLEncoded}}?source=ft-interactive&width=200&height=200&quality=high 2x">
        <h5>{{name}}</h5>
        <p>{{description}}</p>
      </article>
      {{/profiles}}
    </section> --}}

    {{!-- 
    <h2>Breakdown</h2>

    <figure class="chart">
      <div class="chart__key">
        <div class="chart__key-male">Male</div>
        <div class="chart__key-female">Female</div>
      </div>
      {{#groups}}
      <div class="chart__group">
        <abbr title="{{name}}" class="chart__label">{{shortname}}</abbr>
        <span class="chart__bar"><span class="chart__male" style="width:{{maleBarWidth}}%"></span><span class="chart__female" style="width:{{femaleBarWidth}}%"></span><span class="chart__count" style="left:{{barWidth}}%">{{count}}</span></span>
      </div>
      {{/groups}}
    </figure>
     --}}

    <h2>The complete list</h2>

    {{!-- <nav class="page-nav">
      <ul>
        {{#orders}}<li><a href="#{{id}}" title="{{name}}">{{shortname}}</a></li>{{/orders}}
      </ul>
    </nav> --}}
  
    <div class="orders">
      {{#orders}}

      <a name="{{id}}"></a>

      <section class="order">
        <h3>{{name}}</h2>

        {{#ranks}}
        <article class="rank">
          <h4>{{title}}</h4>

          {{#divisions}}
          <div class="division">
            {{#if name}}<h5>{{name}}</h5>{{/if}}
            
            <div class="recipients">
              {{#recipients}}
              <div class="recipient">
                <h6>
                  <span class="recipient__name">{{name}}</span>{{#if suffixes}} <span class="recipient__suffixes">{{suffixes}}</span>{{/if}}{{#if county}}&nbsp; <span class="recipient__county">{{county}}</span>{{/if}}
                </h6>

                <p class="recipient__blurb">{{#if job}}{{job}}{{#if citation}}.{{/if}} {{/if}}{{citation}}</p>
              </div>
              {{/recipients}}
            </div>
          </div>
          {{/divisions}}
        
        </article>
        {{/ranks}}


      </section>
      {{/orders}}
    </div>
  </main>
{{> bottom }}
