{{> top }}
  <main>
    <h1>New Year Honours, 2015</h1>

    <h2>Breakdown</h2>

    <figure class="chart">
      <div class="chart__key">
        <div class="chart__key-male">Male</div>
        <div class="chart__key-female">Female</div>
      </div>
      {{#groups}}
      <div class="chart__group">
        <abbr title="{{name}}" class="chart__label">{{shortname}}</abbr>
        <span class="chart__bar"><span class="chart__male" style="width:{{maleBarWidth}}%"></span><span class="chart__female" style="width:{{femaleBarWidth}}%"></span><span class="chart__count" style="left:{{barWidth}}%">{{count}}</span></span>
      </div>
      {{/groups}}
    </figure>

    <h2>The complete list</h2>

    <nav class="page-nav">
      <ul>
        {{#groups}}<li><a href="#{{id}}" title="{{name}}">{{shortname}}</a></li>{{/groups}}
      </ul>
    </nav>
  
    <div class="groups">
      {{#groups}}
      <a name="{{id}}"></a>
      <section class="group">
        <h3>{{shortname}}</h2>
        {{!-- <div class="group__count">{{count}}</div> --}}
        <h4>{{name}}</h3>
    
        <div class="recipients">
          {{#recipients}}
          <article class="award">
            <h5>
              <span class="award__forenames">{{forenames}}</span>
              <span class="award_surname">{{surname}}</span>{{#if suffixes}} <span class="award__suffixes">{{suffixes}}</span>{{/if}}{{#if county}}&nbsp; <span class="award__county">{{county}}</span>{{/if}}
            </h5>

            <p class="award__citation">{{citation}}</p>
          </article>
          {{/recipients}}
        </div>
      </section>
      {{/groups}}
    </div>
  </main>
{{> bottom }}
