{{> top }}
  <main>
    <h1>{{options.headline}}</h1>

    <p class="lead">{{options.lead}} <a href="{{options.relatedStory}}">Related&nbsp;story&nbsp;»</a></p>

    <h2>The complete list</h2>
  
    <div class="orders">
      {{#orders}}

      <a name="{{id}}"></a>

      <section class="order">
        <h3>{{name}}</h2>

        {{#ranks}}
        <article class="rank">
          <h4>{{title}}</h4>

          {{#divisions}}
          <div class="division">
            {{#if name}}<h5>{{name}}</h5>{{/if}}
            
            <div class="recipients">
              {{#recipients}}
              <div class="recipient">
                <h6>
                  <span class="recipient__name">{{name}}</span>{{#if suffixes}} <span class="recipient__suffixes">{{suffixes}}</span>{{/if}}{{#if county}}&nbsp; <span class="recipient__county">{{county}}</span>{{/if}}
                </h6>

                <p class="recipient__blurb">{{#if job}}{{job}}{{#if citation}}.{{/if}} {{/if}}{{citation}}</p>
              </div>
              {{/recipients}}
            </div>
          </div>
          {{/divisions}}
        
        </article>
        {{/ranks}}


      </section>
      {{/orders}}
    </div>
  </main>
{{> bottom }}
