{{> top }}
  <main>
    <h1>New Year Honours, 2015</h1>

    <h2>Breakdown</h2>

    <figure>TK: stacked horizontal bars showing honour types and male/female split</figure>

    <h2>The complete list</h2>

    <nav>TK sticky nav bar for honour types</nav>

    <div class="group">
      {{#honours}}
      <div class="award">
        <h5>
          <span class="award__forenames">{{forenames}}</span>
          <span class="award_surname">{{surname}}</span>{{#if suffixes}} <span class="award__suffixes">{{suffixes}}</span>{{/if}}{{#if county}}&nbsp; <span class="award__county">{{county}}</span>{{/if}}
        </h5>

        <p class="award__citation">{{citation}}</p>
      </div>
      {{/honours}}
    </div>
  </main>
{{> bottom }}
